@font-face{
    font-family: 'StromGust';
    src: url('Storm Gust.otf') format('opentype');
}


#main{
    height: 100%;
    width:100%;
    color: black;
}
body{
    background-color: black;
}
#navbar {
    top: 0px;
    left: 0px;
    width: 100%;
    height: 80px;
    background-color: rgb(39, 38, 39);
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;;
}

#navbar h4 {
    font-size: 20px;
    font-weight: 12px;
    margin-right: 15px;
    text-decoration: none;

    color: whitesmoke;
    font-weight: 40;
    top: 5px;
    
}
#center{
    background-color: black;
    height: 100vh;
    width: 100%;
    background-image: url(hero__bdntboqignj6_small.jpg);
    background-size: contain;
   padding: 0;
   background-position: center;
   background-repeat: no-repeat;
   display: flex;
}
#center h1{
    color:rgb(12, 12, 12);
    font-size: 50px;
    position: absolute;
    left: 520px;
    top: 350px;
   font-style: bold;

}
#center h5{
    color: white;
    font-size: 25px;
    font-weight: 30;
    margin: -35px;
}